*{
  font-family: 'Dosis', sans-serif;
}

.firebaseui-title {
  color: white;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
    background: #111;
  }
  div{
    box-sizing: border-box;
  }
  nav{
    background: #333;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #fff;
  }
  .nav-links {
      display: flex;
      justify-content:space-around;
      width: 50%;
      text-transform: uppercase;
  }
  .nav-links a{
    display: block;
     text-transform: uppercase;
     text-decoration: none;
     color: #fff;
    border-bottom:2px solid transparent;
    transition:0.5s ease;
    transform: translateX(0%);
  }
  .nav-links a:hover{
    color:#c1dbe9;
    letter-spacing: 5px;
  }
  .burger{
    display: none;
  }
  .burger div{
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    transition:all 0.5s ease;
  }
  @media only screen and (max-width: 760px){
     nav{
      justify-content: space-between;
      padding: 0 5vw;
    }
    .nav-links{
      position: absolute;
      right: 0;
      top:8vh;
      min-height:92vh;
      background: #333;
      display: flex;
      flex-direction: column;
      align-items: center;   
      width: 50%;
      margin: 0;
      padding: 0;
      transform: translateX(100%);
      transition:All 0.5s ease-in;
    }
    .nav-links a{
      opacity: 0;
   
    }
    .burger{
      display: block;
    }
   
  }
  @media only screen and (max-width: 640px){
    nav{
      justify-content: space-between;
      padding: 0 5vw;
    }
  }
  .nav-active{
    transform: translateX(0);
  }
  @media only screen and (max-width: 460px){
    .nav-links{
      width: 100%;
      transition:All 0.5s ease;
    }
  }
  .nav-active{
    transform: translateX(0);
  }
  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }
  .toggle .line1{
     transform: rotate(-45deg) translate(-5px,6px );
  }
  .toggle .line2{
     opacity: 0;
  }
  .toggle .line3{
     transform: rotate(45deg) translate(-5px,-6px );
  }

  /* login */
  .card {
    border: none;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    background-color: #AA1A45;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.flex-container:last-child {
    padding: 5px;
}

.flex-child {
    flex: 1;
}



.card-title {
    text-align: center;
}

.registration-card {
    width: 200px;
    text-align: center;
}

.example-full-width {

    font-size: large;
}

.welcome-text {
    font-size: xx-large;
}

h2 {
    color: black;
}

.btn {
    border-radius: 2px;
}

.form-group {
    margin: 10px;
}

.login-form {
    width: 90%;
    text-align: center;
    padding: 1em;
}

@media screen and (max-width: 992px) {
    .flex-container {
        display: flex;
        flex-direction: row;
    }

    .login-form {
        min-width: 220px;
        max-width: 300px;
        width: auto;
        margin: 0 auto;
        padding: 30px 0;
    }

    .welcome-text {
        font-size: large;
        text-align: center;
    }

    .line {
        width: 10px;
    }

    p {
        text-align: center;
    }

}


@media screen and (max-width: 770px) {
    .flex-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .login-form {
        min-width: 250px;
        max-width: 300px;
        width: auto;
        margin: 0 auto;
        padding: 30px 0;
    }

    .welcome-text {
        font-size: large;
        text-align: center;
    }


    p {
        text-align: center;
    }

    img {
        text-align: center;
    }

    
}


.login-form h2 {
    margin: 10px 0 25px;
}

.login-form form {
    padding: 5em;
    color: black;
    border-radius: 16px;
    background: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}



.login-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #6D4FD8;
    border: none;
    outline: none !important;
}

.login-form .btn:hover,
.login-form .btn:focus {
    background: #7E87D9;
}

.login-form a {
    color: black;
    text-decoration: underline;
}

.login-form a:hover {
    text-decoration: none;
}

.login-form form a {
    color: #7a7a7a;
    text-decoration: none;
}

.login-form form a:hover {
    text-decoration: underline;
}


.line {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 5px;
    width: 410px;
}

.sign-in-button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.sign-in-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.sign-in-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.sign-in-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.form-control{
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  width: 100%;
  height: auto;
}
.form-control:hover {
  border-color: #ccc;
}
.form-control:focus{
  border-color: #9147ff;
  background: #fff;
}
/*registration*/

.card {
  border: none;
}
.register-container {
  background-color: #AA1A45;
  display: flex;
  flex-direction:row-reverse;
  overflow-y: scroll;
  margin: 2em;
  border-radius: 20px;
  color: white;
}
.register-container:last-child {
  padding: 5px;
}

.register-container::-webkit-scrollbar {
  display: none;
}

.register-child {
  flex: 1;
  text-align: center;

}  

.register-child:first-child {
  margin-right: 20px;
} 

.card-title {
  text-align: center;
}

.registration-card {
  width: 200px;
  text-align: center;
}

.example-full-width {
  
  font-size: large;
}

.welcome-text {
  font-size: xx-large;
}


.form-control {
  min-height: 41px;
  box-shadow: none;
  
}
.form-control:focus {
  border-color: #6D4FD8;
}
.form-control, .btn {        
  border-radius: 3px;
}
.signup-form {
  min-width: 340px;
  max-width: 450px;
  width: auto;
  margin: 0 auto;
  padding: 30px 0;
}

.logo-text {
  width: auto;
  margin: 0 auto;
  padding: 30px 0;
}

@media screen and (max-width: 992px) {
  .register-container {
      display: flex;
      flex-direction: row;
  }
  .signup-form {
      min-width: 220px;
      max-width: 300px;
      width: auto;
      margin: 0 auto;
      padding: 30px 0;
  }
  .welcome-text {
      font-size: large;
      text-align: center;
  }
  p {
      text-align: center;
  }

  
}


@media screen and (max-width: 770px) {
  .register-container {
      display: flex;
      flex-direction: column-reverse;
  }
  .signup-form {
      min-width: 250px;
      max-width: 300px;
      width: auto;
      margin: 0 auto;
      padding: 30px 0;
  }
  .welcome-text {
      font-size: large;
      text-align: center;
  }
  .logo-text{
      text-align: center;
  }
  p {
      text-align: center;
  }
  img {
      text-align: center;
  }
  
}


.signup-form form {
  color: #999;
  border-radius: 16px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form h2 {
  color: #333;
  font-weight: bold;
  margin-top: 0;
}
.signup-form hr {
  margin: 0 -30px 20px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form label {
  font-weight: normal;
  font-size: 13px;
}
.signup-form input[type="checkbox"] {
  margin-top: 2px;
}    
.signup-form .btn {        
  font-size: 16px;
  font-weight: bold;
  background: #6D4FD8;
  border: none;
  min-width: 140px;
}

.signup-form .btn:hover, .signup-form .btn:active {
  background: #7E87D9;
  outline: none !important;
}
.signup-form a {
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: #6D4FD8;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}

.line {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 5px;
  width: 410px;
}
.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*spinner*/
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #AA1A45;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 