.nav-links a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease;
  transform: translateX(0%);
}

/*nav*/
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.nav-links {
  z-index: 10;
}
.nav {
  height: 50px;
  width: 100%;
  background-color: #AA1A45;
  position: relative;
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bolder;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  margin-right: 5em;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav-links a:hover {
  color: #252525;
  letter-spacing: 3px;
}

.nav>#nav-check {
  display: none;
}








body {
  margin: 0;
  padding: 0;

  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked~ul {
  transform: none;
}



@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

* {
  font-family: 'Dosis', sans-serif;
}

.firebaseui-title {
  color: white;
}




.logo h2 {
  color: #fff;
}

/* login */
.card {
  border: none;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  background-color: #AA1A45;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.flex-c:last-child {
  padding: 5px;
}

.flex-ch {
  flex: 1;
}



.card-title {
  text-align: center;
}

.registration-card {
  width: 200px;
  text-align: center;
}

.example-full-width {

  font-size: large;
}

.welcome-text {
  font-size: xx-large;
}

h2 {
  color: black;
}

.btn {
  border-radius: 2px;
}

.form-group {
  margin: 10px;
}

.login-form {
  width: 90%;
  text-align: center;
  padding: 1em;
}

@media screen and (max-width: 992px) {

  .slides-container {
    margin-bottom: 2em;
  }
  .welcome img {
    display: none;
  }

  .about-img {
    display: none;
  }
  .services-mobile {
    display: block !important;
    width: 85%;
  }
  .slide .card {
    width: 50%;
    position: relative;
    left: 26%;
}
  .service-carousel .center {
    padding: 0%;
  }

  .services-pc {
    display: none !important;
  }

  .nav-links a:hover {
    color: #AA1A45;
    letter-spacing: 3px;
  }

  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .flex-c {
    display: flex;
    flex-direction: row;
  }

  .login-form {
    min-width: 220px;
    max-width: 300px;
    width: auto;
    margin: 0 auto;
    padding: 30px 0;
  }

  .welcome-text {
    font-size: large;
    text-align: center;
  }

  .register-container {
    display: flex;
    flex-direction: row;
  }

  .signup-form {
    min-width: 220px;
    max-width: 300px;
    width: auto;
    margin: 0 auto;
    padding: 30px 0;
  }

  .welcome-text {
    font-size: large;
    text-align: center;
  }

  /*contact us*/
  .contact-form {
    width: 65% !important;
  }

}


@media screen and (max-width: 770px) {
  
  .flex-c {
    display: flex;
    flex-direction: column-reverse;
  }

  .services-mobile {
    display: block !important;
    width: 95% !important;
  }

  .slide .card {
    width: 100%;
    left: 0;
    top: 0;
  }

  .login-form {
    min-width: 250px;
    max-width: 300px;
    width: auto;
    margin: 0 auto;
    padding: 30px 0;
  }

  .welcome-text {
    font-size: large;
    text-align: center;
  }


  p {
    text-align: center;
  }

  img {
    text-align: center;
  }

  .register-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .signup-form {
    min-width: 250px;
    max-width: 300px;
    width: auto;
    margin: 0 auto;
    padding: 30px 0;
  }

  .welcome-text {
    font-size: large;
    text-align: center;
  }

  .logo-text {
    text-align: center;
  }

  /*homepage*/

  .welcome {
    flex-direction: column;
  }


  .text h1 {
    font-size: 4em !important;
  }

  .text h2 {
    font-size: 3.5em !important;
  }

  /*about section*/

  .about-text p {
    text-align: start;
    width: 100%;
    height: auto;
  }

  .about-text {
    width: 80% !important;
    color: #232323;
  }

  /*services*/
  .card-text {
    display: flex;
    flex-direction: column;
    background-color: #AA1A45;
    color: white;
    padding-bottom: 1em;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 10px;
  }
  .service-carousel .center {
    flex-direction: column;
  }

  .service-carousel h2 {
    padding: 0 !important;
    margin-bottom: 0;
  }

  /*contact us*/
  .contact-form {
    width: 90% !important;
  }

  .contact {
    flex-direction: column-reverse !important;
  }

  .contact-sections {
    flex-direction: column !important;
  }

  /*service page mobile*/
  .cont img {
    display: none;
  }

  .cont:last-child {
    padding-right: 0 !important;
  }

  .service-container {
    flex-direction: column !important;
  }

  .cont {
    flex-grow: 1 1 0px;
  }

  .cont .price {
    display: none;
  }
  .cont .price-m {
    display: block !important;
  }
  .content {
    height: 42em;
  }
  .content h1 {
    margin-bottom: 1em !important;
  }
  .flatpickr-calendar {
    margin-bottom: 2em !important;
  }
  .cont h2 {
    width: auto !important;
    text-align: center !important;
  }

  .form {
    left: 5% !important;
    top: -15% !important;
    height: 730px !important;
  }

  .form p {
    text-align: start;
  }
 
}


.login-form h2 {
  margin: 10px 0 25px;
}

.login-form form {
  padding: 5em;
  color: black;
  border-radius: 16px;
  background: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}



.login-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: #6D4FD8;
  border: none;
  outline: none !important;
}

.login-form .btn:hover,
.login-form .btn:focus {
  background: #7E87D9;
}

.login-form a {
  color: black;
  text-decoration: underline;
}

.login-form a:hover {
  text-decoration: none;
}

.login-form form a {
  color: #7a7a7a;
  text-decoration: none;
}

.login-form form a:hover {
  text-decoration: underline;
}


.line {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 5px;
  width: 410px;
}

.button, .swal-button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button:focus, .swal-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover, .swal-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  background-color: #FCFCFD !important;
}

.swal-button:active, .button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.form-control {
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 0.5em;
}

.form-control:hover {
  border-color: #ccc;
}

/*registration*/

.card {
  border: none;
}

.register-container {
  background-color: #AA1A45;
  display: flex;
  flex-direction: row-reverse;
  overflow-y: scroll;
  margin: 2em;
  border-radius: 20px;
  color: white;
}

.register-container:last-child {
  padding: 5px;
}

.register-container::-webkit-scrollbar {
  display: none;
}

.register-child {
  flex: 1;
  text-align: center;

}

.register-child:first-child {
  margin-right: 20px;
}

.card-title {
  text-align: center;
}

.registration-card {
  width: 200px;
  text-align: center;
}

.example-full-width {

  font-size: large;
}

.welcome-text {
  font-size: xx-large;
}


.form-control {
  min-height: 41px;
  box-shadow: none;

}

.form-control:focus {
  border-color: #6D4FD8;
}

.form-control,
.btn {
  border-radius: 3px;
}

.signup-form {
  min-width: 340px;
  max-width: 450px;
  width: auto;
  margin: 0 auto;
  padding: 30px 0;
}

.logo-text {
  width: auto;
  margin: 0 auto;
  padding: 30px 0;
}

.signup-form form {
  color: #999;
  border-radius: 16px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.signup-form h2 {
  color: #333;
  font-weight: bold;
  margin-top: 0;
}

.signup-form hr {
  margin: 0 -30px 20px;
}

.signup-form .form-group {
  margin-bottom: 20px;
}

.signup-form label {
  font-weight: normal;
  font-size: 13px;
}

.signup-form input[type="checkbox"] {
  margin-top: 2px;
}

.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: #6D4FD8;
  border: none;
  min-width: 140px;
}

.signup-form .btn:hover,
.signup-form .btn:active {
  background: #7E87D9;
  outline: none !important;
}

.signup-form a {
  color: #fff;
  text-decoration: underline;
}

.signup-form a:hover {
  text-decoration: none;
}

.signup-form form a {
  color: #6D4FD8;
  text-decoration: none;
}

.signup-form form a:hover {
  text-decoration: underline;
}

.line {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 5px;
  width: 410px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*spinner*/
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #AA1A45;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.wrap {
  /*   Flex Perfect Centring  */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
}


/* SPINER */

.loader {
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #F00;
  border-left: 4px solid #e3e4e7;
  animation: spinner 1.5s linear infinite;
  margin: 1em;
}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*welcome text and image index.html*/

.welcome {
  display: flex;
  width: 100%;
  height: auto;
}

.welcome .images {
  background-color: rgba(17, 17, 17, 0.826);
}

.welcome .text {
  display: flex;
  flex-direction: column;
  background-color: #252525;
  color: white;
  justify-content: center;
  align-items: center;
}

.welcome .text h1 {
  font-size: 5em;
  margin-bottom: 0.2em;
}

.welcome .text h2 {
  color: white;
  font-size: 4em;
  background-color: #AA1A45;
  text-align: center;
  width: fit-content;
  margin-top: 0px;
  padding: 0.4em;
  border-radius: 5px;
}

.welcome .text p {
  padding: 0px 4em;
}

.about {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #E3E3E3;
}

.about-text {
  width: 50%;
  color: #232323;
}

.about .about-text h3 {
  font-size: 2em;
}

.about .about-text h2 {
  font-size: 3em;
  text-decoration: underline;
  text-decoration-color: #AA1A45;
  text-decoration-thickness: 6px;
}

.about .about-text p {
  font-size: 1.5em;
}

.about .about-img {
  padding: 5em 0 5em 5em;
  position: relative;
  top: 0;
  left: 0;
}

.about-img img:last-child {
  width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.about-img img:first-child {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.about-img img:last-child {
  position: absolute;
  bottom: 4em;
  left: 4em;
}

.services {
  display: flex;
  align-items: center;
  background-color: #252525;
}

.service-container h2 {
  text-align: center;
  margin: 0;
  padding-right: 2em;
  color: white;
}

.service-carousel h2:first-child {
  font-size: 3em;
  text-decoration: underline;
  color: white;
  text-decoration-color: #AA1A45;
  text-decoration-thickness: 6px;
  text-align: center;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.service img {
  width: 50%;
  height: auto;
  margin-bottom: 1em;
}

/*services*/
.services-mobile {
  display: none;
}

.center {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 13px;
  text-align: center;
  padding: 10px;
  height: auto;
  justify-content: space-around;
}

.card {
  display: flex;
  text-align: center;
  color: black;
  flex-direction: row;
}

.card-text {
  display: flex;
  flex-direction: column;
  background-color: #AA1A45;
  color: white;
  padding-bottom: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin: 3em;
}

.card-text h3 {
  font-size: 2em;
  margin: 5px 0 10px 0;
  padding: 0;
}

.card-text p {
  font-size: 1.2em;
}

.card-images {
  width: 100%;
  height: auto;

}

.services-pc {
  display: flex;
}

/*services-mobile*/
.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  height: 35em;
  width: 100%;
  right: 5%;
}

.slides-container {
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
}

.slide-arrow {
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  border: none;
  width: 2rem;
  font-size: 5rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  background-color: transparent;
  color: white;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  overflow-y: hidden;
}


.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #AA1A45;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: white;
}





/* Custom Select wrapper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*contact form*/

.form {
  display: none;
  width: 600px;
  height: 690px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 35px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 33%;
  top: -10%;
  animation: pop 0.4s ;
  animation-timing-function: ease-in;
  transition: all 0.4s ease-in;
}

@keyframes pop {
  from {left: 0%;}
  to {left: 42%}
}

.form p {
  font-size: 2em;
  font-weight: 600;
}

.form h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  color: #232323;
  border-bottom: 3px solid #bebed2;
  font-size: 1.8em;
}

.form button {
  margin-bottom: 1em;
}
.contact-form-text, input, textarea {
  width: 100%;
  padding: 10px 0px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-size: 16px;
  transition: all .3s;
  border-bottom: 2px solid #bebed2;
}

.form input:focus,textarea:focus, .contact-form-text:focus {
  border-bottom: 2px solid #AA1A45
}

.form p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 20px;
  color: #252525
}

.form span {
  position: relative;
  left: 95%;
  color: #252525;
  transition: all .4s;
  margin: 15px;
  font-size: 1.4em;
  font-weight: bolder;
}

.form span:hover {
  cursor: pointer;
  color: #AA1A45;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.contact-sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  
}

.item {
  border-radius: 10px;
  text-align: center;
  padding: 0.2em;
  margin: 0.7em;
  transition: all 0.4s ease;
}

.item:hover {
  background-color: #AA1A45;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  width: 38%;
  height: 100%;
  padding: 1em;
  background-color: white;
}

.contact-form input, textarea {
  margin-bottom: 1em;
}


/*service.html redesign*/
.flex-container {
  display: flex;
  width: 60%;
  margin: 1em auto;
  height: 80%;
  max-height: 93vh;
  background-color: white;
  border-radius: 10px;
}

.flex-child {
  flex: 1;
}  

.flex-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.flex-child:last-child {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-child h1 {
  font-size: 4em;
  font-weight: 600;
  margin: 0.5em;
  color: #232323;
  text-decoration: underline;
  text-decoration-color: #AA1A45;
}

.flex-child p {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0.5em;
  color: #252525;
  max-width: 50%;
  text-align: start;
  margin-bottom: 3em; 
}

.flex-child h2 {
  font-size: 3em;
  color: #AA1A45;
  width: 50%;
  text-align: start !important;
}
  select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #AA1A45;
  cursor: pointer;
  font-size: 1.5em;
  height: 60px;
  justify-content: center;
  align-items: center;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
 .select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
  margin-bottom: 1em;
}

/*admin.html*/
.aside {
  background: #AA1A45;
  padding: 10px;
  width: 200px;
  position: fixed;
  height: 100%;
}

.aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.aside ul li {
  padding: 1em;
  border-bottom: 1px solid #fff;
}

.aside img {
  width: 90%;
  height: auto;
  object-fit: cover;
  border-radius: 120px;
}

.aside ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
}

.aside ul li a:hover {
  display: block;
  text-decoration: none;
  color: #252525;
  transition: 0.5s ease;
  transform: translateX(0%);
}

/*admin.html*/
.page-data section {
  margin-left: 200px;
  padding: 1em;
  color: #252525 !important;
  background-color: white;
  margin:1.5em 1.5em 1.5em 14em;
}



.page-data section h2 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin: 0.5em;
  color: #232323;
  text-decoration: underline;
  text-decoration-color: #AA1A45;
}

